.account-menu {
    background-color: #eceff1;
    /*border-bottom: 2px solid #cfd8dc;*/
    .brand-logo {
        font-weight: bold;
    }
    .account-menu {
        border: transparent
    }
    .logout-button {
        border: transparent;
        background: transparent
    }
}
